@tailwind base;
@tailwind components;
@tailwind utilities;

.page1{
  background-image:url(/page1.jpg);
}

.page2{
  background-image: url(/page2.jpg);
}

.page3{
  background-image: url(/page3.jpg);
}

.page4{
  background-image:url(/page4.jpg);
}

.page5{
  background-image: url(/page5.jpg);
}

.page6{
  background-image: url(/page6.jpg);
}
